@charset "utf-8";
/* 모바일-sm 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 320px) and (max-width: 480px) {
  :is(.player, #gnb, input[type="range"], .search_wrap) {
    display: none;
  }
  /* 헤더 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  header .con {
    width: 95%;
    padding: 0 14px;
    box-sizing: border-box;
  }
  header h1 img {
    width: 46px;
  }
  .con > .right_icons {
    gap: 14px;
  }
  .right_icons > a:last-child {
    display: block;
  }
  .right_icons a {
    display: flex;
    align-items: center;
  }
  .right_icons a img {
    width: 18px;
  }
  /* 메인비주얼 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .main_visual .con .genre_wrap {
    display: none;
  }
  main .main_visual {
    height: 300px;
    margin-bottom: 40px;
  }
  .main_visual .con {
    height: 100%;
  }
  .main_visual .con h2 {
    width: 100%;
    font-size: 40px;
    margin-left: 5%;
  }
  .main_visual .con h2 span {
    font-size: 40px;
  }
  .main_visual .con > img {
    width: 100%;
    height: auto;
    right: 0;
    top: -10px;
  }
  .scroll_down {
    transform: scale(0.6);
  }
  /* 앨범 슬라이드 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  #sec1 .con {
    height: 200px;
    padding: 0;
    margin-bottom: 100px;
  }
  #sec1 .con .text_box {
    width: 100%;
    left: 0;
    text-align: center;
  }
  #sec1 .con .text_box h3 {
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  #sec1 .con .text_box h3 span {
    font-size: 30px;
  }
  #sec1 .con .text_box h3 br {
    display: block;
  }
  #sec1 .con .text_box p {
    font-size: 12px;
    line-height: 20px;
  }
  .slide_wrap {
    display: none;
  }

  /* 무드 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec2 .con {
    display: block;
    padding: 0;
  }
  .sec2 .mood_left {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
  }
  .sec2 .mood_left img {
    width: 40px;
  }
  .mood_left .text_wrap h3 {
    font-size: 16px;
  }
  .mood_left .text_wrap p {
    font-size: 14px;
  }
  .mood_right {
    width: 100%;
  }
  .sec2 .con .mood_box {
    width: 90%;
    font-size: 14px;
  }
  .mood_box > div {
    height: 100px;
  }
  .sec2 .con .mood_box > a {
    height: 100px;
  }
  .mood_element {
    width: 100px;
    height: 100%;
    transition: 0.5s;
    font-size: 14px;
  }
  .mood_box .mood_title {
    padding: 0 10px;
    gap: 2px;
    height: 60px;
  }
  .mood_box .mood_title h2 {
    width: fit-content;
    font-size: 50px;
    letter-spacing: -8px;
    margin: 0 10px;
  }
  .mood_drive img {
    width: 130px;
  }
  .mood_game img {
    width: 60px;
  }
  .mood_bed img {
    width: 90px;
  }
  .mood_coffee img {
    width: 60px;
  }
  .mood_game .study_text {
    padding: 0;
  }
  .mood_box .mood_coffee a:first-of-type div {
    width: 100px;
    height: 100%;
  }
  .mood_coffee div p {
    line-height: 100px;
    font-size: 14px;
  }
  .mood_box .mood_bed {
    padding: 0;
  }
  /* 애니 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec3 .con {
    width: 95%;
    padding-top: 160px;
  }
  .con .text_title {
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .con .text_title h3 {
    font-size: 16px;
    width: 40%;
  }
  .sec3 .con .text_title div {
    width: 60%;
  }
  .sec3 .con .anime_bottom {
    margin: 50px 0;
  }
  .sec3 .con .anime_bottom > div {
    display: block;
    margin-bottom: 30px;
  }
  .anime_bottom p {
    font-size: 12px;
  }
  .anime_bottom :is(.anime1, .anime2, .anime3) p::before {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    margin-right: 10px;
  }
  /* 아티스트 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec4 .con {
    width: 100%;
    padding: 100px 0;
  }
  .sec4 .con .text_title h3 {
    font-size: 16px;
    width: 55%;
  }
  .sec4 .con .text_title div {
    width: 40%;
  }
  .artist_box {
    width: 100%;
    margin-top: 140px;
  }
  .artist_box > a {
    width: 90%;
    height: 120px;
    margin: 0 auto;
  }
  .artist_box > a img {
    width: 160px;
    height: 160px;
  }
  .artist_box h3 {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 6px 20px;
  }
  .artist_box p {
    font-size: 12px;
  }
  .artist_box .text_box {
    padding: 0 20px;
  }
  :is(.artist1, .artist2, .artist3) > img {
    top: -80px;
    left: calc(50% - 80px);
  }
  .artist_box > a:hover img {
    filter: brightness(100%);
    transform: translateY(-30px);
  }
  /* 새 앨범 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  :is(.sec5, .sec6, .sec7) {
    margin: 80px auto;
    padding-bottom: 50px;
  }
  :is(.sec5, .sec6, .sec7) .con {
    width: 90vw;
    height: fit-content;
    margin: 50px auto;
    padding: 4px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
  @keyframes text_down {
    0% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(225px);
      color: #fff;
    }
  }
  .con_title {
    font-size: 16px;
    padding: 20px 14px;
  }
  .con_title img {
    width: 30px;
  }
  .sec5 .swiper {
    margin-top: 40px;
  }
  .album_img {
    display: block;
    width: 70%;
    height: auto;
    margin-bottom: 30px;
  }
  .sec5 .swiper h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .sec5 .swiper p {
    font-size: 14px;
  }
  :is(.swiper-button-next, .swiper-button-prev):after {
    font-size: 1.6rem !important;
  }
  .text_down {
    font-size: 70px;
  }
  /* 인기곡 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec6 .con {
    padding: 4px;
  }
  .popular_wrap {
    width: 95%;
    gap: 10px;
    padding: 20px 0;
    justify-content: space-evenly;
  }
  .popular_box {
    width: 120px;
    height: 160px;
  }
  .popular_con .text_box {
    height: 40px;
    padding: 4px 8px;
  }
  .popular_con .text_box a:first-child {
    font-size: 12px;
    font-weight: 400;
  }
  .popular_con .text_box a:last-child {
    font-size: 11px;
    font-weight: 300;
  }
  .popular_img i {
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  :is(
      .popular_box:nth-child(7),
      .popular_box:nth-child(8),
      .popular_box:nth-child(9),
      .popular_box:nth-child(10)
    ) {
    display: none;
  }
  /* 플레이리스트 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec7 {
    padding-bottom: 20px;
  }
  .play_wrap {
    width: 95%;
    gap: 20px;
    padding: 20px 0;
  }
  .play_box {
    width: 100%;
    height: 80px;
    border-radius: 12px;
    display: flex;
    margin: 0;
  }
  .play_box > a {
    width: 80px;
    height: 80px;
  }
  .play_right {
    width: calc(95% - 80px);
    height: 100%;
    padding: 10px;
  }
  .top_con p {
    font-size: 12px;
    margin: 0;
    font-weight: 500;
  }
  .top_con a {
    font-size: 14px;
  }
  .bottom_con > a {
    font-size: 12px;
  }
  .bottom_con .icons {
    display: none;
  }
  :is(.play_box:nth-child(5), .play_box:nth-child(6)) {
    display: none;
  }
  .play_box > a > i {
    font-size: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    opacity: 0;
    transition: 0.3s;
  }
  /* 요금제 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec8 {
    width: 100%;
    height: fit-content;
    padding-bottom: 200px;
  }
  .sec8 .con {
    padding: 0;
    width: 90%;
  }
  .sec8 h3 {
    margin: 60px 0;
  }
  .fee_wrap {
    display: block;
    padding: 0 20px;
  }
  .fee_box {
    border-radius: 16px;
    width: 80%;
    text-align: center;
    padding: 20px 40px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .fee_box:first-child > p:last-of-type {
    display: none;
  }
  .fee_box p:nth-of-type(1) {
    margin-bottom: 20px;
    font-weight: 500;
  }
  .fee_box ul {
    text-align: start;
    list-style: disc;
    margin: 0;
    margin-top: 20px;
  }
  .fee_box ul li {
    line-height: 30px;
    font-size: 12px;
  }
  .sec8 .con > a {
    width: fit-content;
    height: 40px;
    padding: 0 20px;
    margin-top: 80px;
    font-size: 12px;
    border: 1px solid #fff;
  }
  .sec8 .con > a > img {
    width: 20px;
  }
  /* 푸터 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  footer .con {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    gap: 4px;
  }
  footer .con > a img {
    width: 60px;
    height: auto;
  }
  .footer_menu {
    gap: 10px;
    margin-bottom: 6px;
  }
}
/* 모바일-lg 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* 헤더 🍅🍅🍅 */
  :is(.player, #gnb, input[type="range"], .search_wrap) {
    display: none;
  }
  header .con {
    width: 95%;
    height: 4vh;
  }
  header h1 img {
    width: 48px;
  }
  .right_icons a img {
    width: 20px;
  }
  .right_icons > a:last-child {
    display: block;
  }
  /* 메인비주얼 🍅🍅🍅 */
  .main_visual .con .genre_wrap {
    display: none;
  }
  main .main_visual {
    width: 100%;
    height: 500px;
    margin-bottom: 0;
  }
  .main_visual .con {
    height: 80vh;
  }
  .main_visual .con h2 {
    font-size: 50px;
    width: 100vw;
    margin-left: 5%;
  }
  .main_visual .con h2 span {
    font-size: 60px;
  }
  .main_visual .con > img {
    width: 100%;
    height: auto;
    right: 0;
    top: -10px;
  }
  .scroll_down {
    bottom: 0;
    transform: scale(0.8);
    right: calc(50% - 48px);
  }
  /* 앨범 슬라이드 애니메이션 섹션 🍅🍅🍅 */
  #sec1 .con {
    height: 200px;
    padding: 0;
    margin-bottom: 100px;
  }
  #sec1 .con .text_box {
    width: 100%;
    left: 0;
    text-align: center;
  }
  #sec1 .con .text_box h3 {
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  #sec1 .con .text_box h3 span {
    font-size: 30px;
  }
  #sec1 .con .text_box h3 br {
    display: block;
  }
  #sec1 .con .text_box p {
    font-size: 14px;
    line-height: 1.5;
  }
  .slide_wrap {
    display: none;
  }
  /* 무드 섹션 🍅🍅🍅 */
  .sec2 .con {
    display: block;
    padding: 0;
    margin-bottom: 60px;
  }
  .sec2 .mood_left {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
  }
  .sec2 .mood_left img {
    width: 40px;
  }
  .mood_left .text_wrap h3 {
    font-size: 16px;
  }
  .mood_left .text_wrap p {
    font-size: 14px;
  }
  .mood_right {
    width: 100%;
  }
  .sec2 .con .mood_box {
    width: 60%;
    font-size: 14px;
  }
  .mood_box > div {
    height: 100px;
  }
  .sec2 .con .mood_box > a {
    height: 100px;
  }
  .mood_element {
    width: 100px;
    height: 100%;
    transition: 0.5s;
    font-size: 14px;
  }
  .mood_box .mood_title {
    padding: 0 30px;
    gap: 2px;
    height: 60px;
  }
  .mood_box .mood_title h2 {
    width: fit-content;
    font-size: 50px;
    letter-spacing: -8px;
    margin: 0 10px;
  }
  .mood_drive img {
    width: 130px;
  }
  .mood_game img {
    width: 60px;
  }
  .mood_bed img {
    width: 90px;
  }
  .mood_coffee img {
    width: 60px;
  }
  .mood_game .study_text {
    padding: 0;
  }
  .mood_box .mood_coffee a:first-of-type div {
    width: 100px;
    height: 100%;
  }
  .mood_coffee div p {
    line-height: 100px;
    font-size: 14px;
  }
  .mood_box .mood_bed {
    padding: 0;
  }
  /* 애니 섹션 🍅🍅🍅 */
  .sec3 .con {
    width: 100%;
    padding: 100px 0;
  }
  .con .text_title {
    width: 90%;
    margin: 0 auto;
  }
  .con .text_title h3 {
    font-size: 18px;
    width: 30%;
  }
  .con .text_title div {
    width: 70%;
  }
  .sec3 .con .anime_bottom {
    width: 100vw;
    margin: 50px 0;
  }
  .anime_bottom p {
    font-size: 14px;
  }
  .anime_bottom img {
    width: 50vw;
    height: auto;
    transition: 0.5s;
  }
  .anime_bottom a {
    width: fit-content;
  }
  .sec3 .con .anime_bottom > div {
    width: fit-content;
    display: block;
    margin-bottom: 30px;
  }
  .sec3 .con .anime_bottom p::before {
    width: 10px;
    height: 10px;
  }
  /* 아티스트 섹션 🍅🍅🍅 */
  .sec4 .con {
    width: 100%;
    padding: 100px 0;
  }
  .sec4 .con .text_title h3 {
    font-size: 16px;
    width: 40%;
  }
  .sec4 .con .text_title div {
    width: 60%;
  }
  .artist_box .text_box {
    padding: 0 30px;
  }
  .artist_box {
    width: 100%;
    margin-top: 140px;
  }
  .artist_box > a {
    width: 90%;
    height: 150px;
    margin: 0 auto;
  }
  .artist_box h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 6px 20px;
  }
  .artist_box p {
    font-size: 16px;
    line-height: 2;
  }
  .artist_box > a img {
    width: 160px;
    height: 160px;
  }
  :is(.artist1, .artist3) > img {
    top: -80px;
    left: 10%;
  }
  .artist2 > img {
    top: -80px;
    left: calc(90% - 160px);
  }
  /* 새 앨범 섹션 🍅🍅🍅 */
  :is(.sec5, .sec6, .sec7) {
    margin: 60px auto;
    padding-bottom: 160px;
  }
  :is(.sec5, .sec6, .sec7) .con {
    width: 90%;
    padding: 10px;
  }
  .sec5 {
    width: 100%;
  }
  .con_title {
    font-size: 16px;
    padding: 24px 20px;
  }
  .con_title img {
    width: 30px;
  }
  .sec5 .swiper {
    margin-top: 40px;
  }
  .album_img {
    display: block;
    width: 60%;
    height: auto;
    margin-bottom: 30px;
  }
  .sec5 .swiper h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .sec5 .swiper p {
    font-size: 14px;
  }
  :is(.swiper-button-next, .swiper-button-prev):after {
    font-size: 1.6rem !important;
  }
  .text_down {
    font-size: 90px;
    right: 5%;
  }
  /* 인기곡 섹션 🍅🍅🍅 */
  .popular_wrap {
    width: 95%;
    gap: 10px;
    padding: 20px 0;
    justify-content: space-evenly;
  }
  .popular_box {
    width: 150px;
    height: 200px;
    margin-bottom: 10px;
  }
  .popular_con .text_box {
    height: 50px;
    padding: 2px 10px;
  }
  .popular_con .text_box a:first-child {
    font-size: 14px;
    font-weight: 400;
  }
  .popular_con .text_box a:last-child {
    font-size: 12px;
    font-weight: 300;
  }
  :is(
      .popular_box:nth-child(7),
      .popular_box:nth-child(8),
      .popular_box:nth-child(9),
      .popular_box:nth-child(10)
    ) {
    display: none;
  }
  /* 플레이리스트 섹션 🍅🍅🍅 */
  .sec7 {
    width: 100%;
  }
  .play_wrap {
    width: 100%;
    gap: 26px;
    padding: 40px 0;
    margin: 0 auto;
  }
  .play_box {
    width: 70%;
    height: 90px;
    border-radius: 12px;
    display: flex;
    margin: 0 auto;
  }
  .play_box > a {
    width: 90px;
    height: 90px;
  }
  .bottom_con .icons {
    display: none;
  }
  .play_right {
    width: calc(100% - 90px);
    height: 100%;
    padding: 10px 16px;
  }
  .top_con p {
    font-size: 12px;
    margin: 0;
    font-weight: 500;
  }
  .top_con a {
    font-size: 14px;
  }
  .bottom_con > a {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  :is(.play_box:nth-child(5), .play_box:nth-child(6)) {
    display: none;
  }
  /* 요금제 섹션 🍅🍅🍅 */
  .sec8 {
    padding-bottom: 180px;
  }
  .sec8 .con {
    padding: 0;
    width: 100%;
  }
  .sec8 h3 {
    font-size: 24px;
    margin: 60px 0;
  }
  .fee_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
  }
  .fee_box ul {
    margin: 20px 0 0 0;
  }
  .fee_box ul li {
    line-height: 30px;
    font-size: 14px;
  }
  .sec8 .fee_box {
    width: 220px;
    padding: 20px 30px;
    margin-bottom: 20px;
  }
  .sec8 .con > a {
    height: 44px;
    margin-top: 60px;
    padding: 0 20px;
    font-size: 14px;
    align-items: center;
  }
  .sec8 .con > a img {
    width: 24px;
  }
  /* 푸터 🍅🍅🍅 */
  footer .con {
    height: 80px;
  }
  footer .con > a img {
    width: 90px;
    height: auto;
  }
  footer .con .text_wrap {
    font-size: 12px;
    color: var(--sub-text-color);
  }
}
/* 태블릿-sm 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* 헤더 🍅🍅🍅 */
  :is(.player, #gnb, input[type="range"]) {
    display: none;
  }
  .right_icons .search_wrap {
    display: flex;
  }
  header h1 img {
    width: 48px;
  }
  header .con {
    width: 95vw;
    height: 4vh;
  }
  .right_icons > a:last-child {
    display: block;
  }
  .right_icons a img {
    width: 20px;
  }
  /* 메인비주얼 🍅🍅🍅 */
  .main_visual .con .genre_wrap {
    display: none;
  }
  main .main_visual {
    width: 100%;
    height: fit-content;
    margin-bottom: 0;
  }
  .main_visual .con {
    height: 800px;
  }
  .main_visual .con h2 {
    font-size: 70px;
    width: 100%;
    margin-left: 5%;
  }
  .main_visual .con h2 span {
    font-size: 80px;
  }
  .main_visual .con > img {
    width: 100vh;
    height: auto;
    right: 0;
    top: -10px;
  }
  .scroll_down {
    bottom: 0;
    right: calc(50% - 48px);
  }
  /* 앨범 슬라이드 애니메이션 섹션 🍅🍅🍅 */
  .slide_wrap {
    display: none;
  }
  #sec1 .con {
    height: 300px;
    padding: 0;
    margin-bottom: 140px;
  }
  #sec1 .con .text_box {
    width: 100%;
    left: 0;
    text-align: center;
  }
  #sec1 .con .text_box h3 {
    line-height: 2;
    font-size: 30px;
    margin-bottom: 20px;
  }
  #sec1 .con .text_box h3 span {
    font-size: 38px;
  }
  #sec1 .con .text_box h3 br {
    display: block;
  }
  #sec1 .con .text_box p {
    font-size: 20px;
    line-height: 1.5;
  }
  /* 무드 섹션 🍅🍅🍅 */
  .sec2 .con {
    display: block;
    padding: 0;
    margin-bottom: 60px;
  }
  .sec2 .mood_left {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
  }
  .sec2 .mood_left img {
    width: 40px;
  }
  .mood_left .text_wrap h3 {
    font-size: 20px;
  }
  .mood_left .text_wrap p {
    font-size: 16px;
  }
  .mood_right {
    width: 100%;
  }
  .sec2 .con .mood_box {
    width: 60%;
    font-size: 16px;
  }
  .mood_box > div {
    height: 100px;
  }
  .sec2 .con .mood_box > a {
    height: 100px;
  }
  .mood_element {
    width: 100px;
    height: 100%;
    transition: 0.5s;
    font-size: 14px;
  }
  .mood_box .mood_title {
    padding: 0 30px;
    gap: 2px;
    height: 60px;
  }
  .mood_box .mood_title h2 {
    width: fit-content;
    font-size: 50px;
    letter-spacing: -8px;
    margin: 0 10px;
  }
  .mood_drive img {
    width: 130px;
  }
  .mood_game img {
    width: 60px;
  }
  .mood_bed img {
    width: 90px;
  }
  .mood_coffee img {
    width: 60px;
  }
  .mood_game .study_text {
    padding: 0;
  }
  .mood_box .mood_coffee a:first-of-type div {
    width: 100px;
    height: 100%;
  }
  .mood_coffee div p {
    line-height: 100px;
    font-size: 14px;
  }
  .mood_box .mood_bed {
    padding: 0;
  }
  /* 애니 섹션 🍅🍅🍅 */
  .sec3 .con {
    width: 100%;
    padding: 100px 0;
  }
  .con .text_title {
    width: 90%;
    margin: 0 auto;
  }
  .con .text_title h3 {
    font-size: 18px;
    width: 20%;
  }
  .con .text_title div {
    width: 80%;
  }
  .sec3 .con .anime_bottom {
    width: 100vw;
    margin: 50px 0;
  }
  .anime_bottom p {
    font-size: 16px;
  }
  .anime_bottom img {
    width: 50vw;
    height: auto;
    transition: 0.5s;
  }
  .anime_bottom a {
    width: fit-content;
  }
  .sec3 .con .anime_bottom > div {
    width: fit-content;
    display: block;
    margin-bottom: 30px;
  }
  .sec3 .con .anime_bottom p::before {
    width: 10px;
    height: 10px;
  }
  /* 아티스트 섹션 🍅🍅🍅 */
  .sec4 .con {
    width: 100%;
    padding: 100px 0 200px 0;
  }
  .sec4 .con .text_title h3 {
    font-size: 18px;
    width: 25%;
  }
  .sec4 .con .text_title div {
    width: 75%;
  }
  .artist_box .text_box {
    padding: 0 30px;
  }
  .artist_box {
    width: 100%;
    margin-top: 140px;
  }
  .artist_box > a {
    width: 80%;
    height: 150px;
    margin: 0 auto;
  }
  .artist_box h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 6px 20px;
  }
  .artist_box p {
    font-size: 16px;
    line-height: 2;
  }
  .artist_box > a img {
    width: 200px;
    height: 200px;
  }
  :is(.artist1, .artist3) > img {
    top: -100px;
    left: 10%;
  }
  .artist2 > img {
    top: -100px;
    left: calc(90% - 200px);
  }
  /* 새 앨범 섹션 🍅🍅🍅 */
  :is(.sec5, .sec6, .sec7) {
    margin: 80px auto;
    padding-bottom: 180px;
  }
  :is(.sec5, .sec6, .sec7) .con {
    width: 90%;
    padding: 10px;
  }
  .sec5 {
    width: 100%;
  }
  .con_title {
    font-size: 18px;
    padding: 24px 20px;
  }
  .con_title img {
    width: 30px;
  }
  .sec5 .swiper {
    margin-top: 40px;
  }
  .album_img {
    display: block;
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .sec5 .swiper h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .sec5 .swiper p {
    font-size: 16px;
  }
  .text_down {
    font-size: 90px;
    right: 5%;
  }
  /* 인기곡 섹션 🍅🍅🍅 */
  .popular_wrap {
    width: 95%;
    gap: 10px;
    padding: 20px 0;
    justify-content: space-evenly;
  }
  .popular_box {
    width: 150px;
    height: 200px;
    margin-bottom: 10px;
  }
  .popular_con .text_box {
    height: 50px;
    padding: 2px 10px;
  }
  .popular_con .text_box a:first-child {
    font-size: 14px;
    font-weight: 400;
  }
  .popular_con .text_box a:last-child {
    font-size: 12px;
    font-weight: 300;
  }
  :is(.popular_box:nth-child(9), .popular_box:nth-child(10)) {
    display: none;
  }

  /* 플레이리스트 섹션 🍅🍅🍅 */
  .sec7 {
    width: 100%;
  }
  .play_wrap {
    width: 100%;
    gap: 26px;
    padding: 40px 0;
    margin: 0 auto;
  }
  .play_box {
    width: 45%;
    height: 100px;
    border-radius: 12px;
    display: flex;
    margin: 0 auto;
  }
  .play_box > a {
    width: 100px;
    height: 100px;
  }
  .bottom_con .icons {
    display: flex;
    gap: 6px;
  }
  .icons i {
    font-size: 22px;
  }
  .icons p {
    display: none;
  }
  .play_right {
    width: calc(100% - 90px);
    height: 100%;
    padding: 10px 12px;
  }
  .play_right .bottom_con .icons {
    display: none;
  }
  .top_con p {
    font-size: 12px;
    margin: 0;
    font-weight: 500;
  }
  .top_con a {
    font-size: 14px;
  }
  .bottom_con > a {
    font-size: 14px;
  }
  /* 요금제 섹션 🍅🍅🍅 */
  .sec8 {
    height: fit-content;
    padding: 100px 0 200px 0;
  }
  .sec8 .con {
    padding: 0;
    width: 100%;
  }
  .sec8 h3 {
    font-size: 26px;
  }
  .sec8 h3 {
    margin: 80px 0;
  }
  .fee_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
  }
  .fee_box ul {
    margin: 20px 0 0 0;
  }
  .fee_box ul li {
    line-height: 30px;
    font-size: 14px;
  }
  .fee_box {
    width: 220px;
    padding: 20px 30px;
    margin-bottom: 20px;
  }
  .sec8 .con > a {
    height: 44px;
    margin-top: 80px;
    padding: 0 24px;
    font-size: 14px;
    align-items: center;
  }
  .sec8 .con > a img {
    width: 24px;
  }
  /* 푸터 🍅🍅🍅 */
  footer .con {
    height: 80px;
  }
  footer .con > a img {
    width: 90px;
    height: auto;
  }
  footer .con .text_wrap {
    font-size: 12px;
    color: var(--sub-text-color);
  }
}
@media screen and (min-width: 947px) and (max-width: 1024px) {
  :is(.popular_box:nth-child(9), .popular_box:nth-child(10)) {
    display: block;
  }
}
@media screen and (min-width: 1134px) and (max-width: 1440px) {
  .sec6 .popular_box {
    width: 180px;
    height: 230px;
    margin-bottom: 10px;
  }
  .sec6 .popular_con .text_box {
    height: 50px;
    padding: 2px 10px;
  }
}
@media screen and (min-width: 1334px) and (max-width: 1440px) {
  .sec6 .popular_wrap {
    padding: 60px 50px;
    box-sizing: border-box;
  }
}
/* 태블릿-lg 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 헤더 🍅🍅🍅 */
  :is(.player, #gnb, input[type="range"], .search_wrap, .genre_wrap) {
    display: none;
  }
  .right_icons > a:last-child {
    display: none;
  }
  :is(#gnb, .search_wrap) {
    display: flex;
  }
  header h1 {
    width: 55px;
  }
  #gnb {
    width: fit-content;
    padding-left: 40px;
  }
  #gnb > ul {
    gap: 10px;
  }
  #gnb > ul > li {
    font-size: 16px;
  }
  .submenu {
    width: 150px;
  }
  .submenu li {
    font-size: 14px;
    line-height: 36px;
  }
  .submenu li:hover a {
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;
  }
  input[type="search"] {
    width: 120px;
  }
  .right_icons .search_wrap p {
    font-size: 20px;
  }
  .right_icons a img {
    width: 20px;
  }
  /* 메인비주얼 🍅🍅🍅 */
  main .main_visual {
    height: 600px;
  }
  .main_visual .con {
    height: 700px;
  }
  .main_visual .con > img {
    width: auto;
    height: 60vh;
    right: 0;
  }
  .main_visual .con h2 {
    height: fit-content;
    font-size: 80px;
  }
  .main_visual .con h2 span {
    font-size: 90px;
  }
  .scroll_down {
    bottom: 14vh;
    transform: scale(0.8);
  }
  /* 앨범 슬라이드 🍅🍅🍅 */
  #sec1 .con {
    padding: 200px 0;
  }
  #sec1 .con .text_box h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  #sec1 .con .text_box h3 span {
    font-size: 34px;
    color: #ff006f;
    font-weight: 800;
  }
  #sec1 .con .text_box p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
  }
  .slide_box {
    width: 120vw;
    height: fit-content;
    margin-bottom: 30px;
  }
  /* 무드 섹션 🍅🍅🍅 */
  .sec2 {
    width: 100%;
  }
  .sec2 .con {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
  }
  .mood_left {
    width: 40%;
  }
  .mood_right {
    width: 45%;
  }
  .mood_left i {
    font-size: 40px;
  }
  .mood_left .text_wrap h3 {
    font-size: 22px;
  }
  .mood_left .text_wrap p {
    font-size: 18px;
  }
  .sec2 .con .mood_box {
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
  }
  .mood_title {
    padding-left: 20px;
  }
  .mood_box .mood_title h2 {
    width: fit-content;
    font-size: 70px;
    letter-spacing: -12px;
    margin: 0 10px;
  }
  .sec2 .con .mood_box > a {
    height: 140px;
  }
  .mood_right .mood_box > a > div {
    height: 140px;
  }
  .mood_drive img {
    width: 150px;
  }
  .mood_game img {
    width: 80px;
  }
  .mood_game > a p {
    line-height: 26px;
  }
  .mood_box .mood_bed {
    padding-right: 100px;
  }
  .mood_bed img {
    width: 110px;
    margin-left: 50px;
    box-sizing: border-box;
  }
  .mood_bed .text_wrap {
    height: fit-content;
  }
  .mood_coffee img {
    width: 80px;
  }
  .mood_box > div {
    height: 140px;
  }
  .mood_element {
    height: 140px;
  }
  .mood_box .mood_coffee a:first-of-type div {
    width: 140px;
    height: 140px;
  }
  :is(.mood_coffee, .mood_game) > a div {
    width: 140px;
  }
  .mood_coffee div p {
    line-height: 140px;
    font-size: 18px;
  }
  /* 애니 섹션 🍅🍅🍅 */
  .sec3 .con {
    width: 95%;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .con .text_title {
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .sec3 .con .text_title h3 {
    width: 20%;
    font-size: 22px;
  }
  .sec3 .con .text_title div {
    width: 70%;
  }
  .sec3 .con .anime_bottom {
    width: 90%;
    margin: 100px auto;
  }
  .sec3 .con .anime_bottom > div {
    margin-bottom: 60px;
  }
  .anime_bottom img {
    width: 360px;
    height: auto;
  }
  .anime_bottom p {
    font-size: 16px;
    margin-left: 20px;
  }
  /* 아티스트 섹션 🍅🍅🍅 */
  .sec4 .con {
    width: 100%;
    padding: 100px 0 120px 0;
  }
  .sec4 .con .text_title h3 {
    font-size: 22px;
    width: 25%;
  }
  .sec4 .con .text_title div {
    width: 65%;
  }
  .artist_box {
    width: 100%;
    margin-top: 180px;
  }
  .artist_box .text_box {
    padding: 0 60px;
  }
  .artist_box > a {
    width: 70%;
    height: 150px;
    margin: 0 auto;
  }
  .artist_box > a img {
    width: 220px;
    height: 220px;
  }
  :is(.artist1, .artist3) > img {
    top: -110px;
    left: 10%;
  }
  .artist2 > img {
    top: -110px;
    left: calc(90% - 220px);
  }
  .artist_box h3 {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 6px 20px;
  }
  .artist_box p {
    font-size: 14px;
  }
  /* 새 앨범 섹션 🍅🍅🍅 */
  :is(.sec5, .sec6, .sec7) {
    padding: 0;
    padding-bottom: 80px;
  }
  :is(.sec5, .sec6, .sec7) .con {
    width: 90vw;
    height: fit-content;
    padding: 40px 20px;
    padding-bottom: 100px;
    margin: 0 auto;
  }
  .album_box {
    width: 90%;
  }
  .album_img {
    display: block;
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .text_down {
    font-size: 120px;
  }
  .con_title {
    font-size: 20px;
    padding: 0 10px;
  }
  .sec5 .swiper h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .sec5 .swiper p {
    font-size: 14px;
  }
  /* 인기곡 섹션 🍅🍅🍅 */
  .sec6 .con {
    padding-bottom: 40px;
  }
  .popular_wrap {
    width: 100%;
    padding: 60px 0;
    gap: 16px;
    justify-content: space-evenly;
  }
  .popular_box {
    width: 160px;
    height: 210px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .popular_con .text_box {
    height: 50px;
    padding: 2px 10px;
  }
  .popular_con .text_box a:first-child {
    font-size: 16px;
    font-weight: 500;
  }
  .popular_con .text_box a:last-child {
    font-size: 14px;
    font-weight: 300;
  }
  .icons p {
    display: none;
  }
  /* 플레이리스트 섹션 🍅🍅🍅*/
  .sec7 .con {
    padding-bottom: 40px;
  }
  .play_wrap {
    gap: 30px;
    padding: 60px 20px;
    flex-wrap: wrap;
  }
  .play_box {
    width: 40%;
    height: 100px;
    border-radius: 10px;
    margin: 0;
  }
  .play_box > a {
    width: 100px;
    height: 100px;
  }
  .top_con p {
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 14px;
  }
  .top_con a {
    font-size: 16px;
  }
  .bottom_con > a {
    font-size: 14px;
  }
  .play_right {
    width: calc(100% - 100px);
    padding: 10px 16px;
    box-sizing: border-box;
  }
  .bottom_con .icons {
    gap: 8px;
  }
  .icons p {
    font-size: 12px;
  }
  .bottom_con .icons img {
    width: 26px;
  }
  /* 요금제 섹션 🍅🍅🍅 */
  .sec8 {
    width: 100%;
    height: 700px;
    padding-bottom: 300px;
  }
  .sec8 .con {
    padding: 0;
    width: 100%;
  }
  .fee_box {
    width: 27%;
    padding: 30px 40px;
  }
  .fee_box p:nth-of-type(1) {
    font-size: 18px;
  }
  .fee_box ul li {
    font-size: 16px;
    line-height: 30px;
  }
  .sec8 .con > a {
    height: 44px;
    margin-top: 120px;
    padding: 4px 24px;
    font-size: 16px;
    align-items: center;
  }
  /* 푸터 🍅🍅🍅*/
  footer .con {
    height: 90px;
  }
  footer .con > a img {
    width: 90px;
    height: auto;
  }
  footer .con .text_wrap {
    font-size: 14px;
  }
}
/* 노트북 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 1441px) and (max-width: 1700px) {
  /* 헤더 🍅🍅🍅*/
  .player {
    display: flex;
  }
  header .con {
    width: 95vw;
  }
  .con .player {
    width: fit-content;
  }
  input[type="search"] {
    width: 120px;
  }
  #gnb > ul {
    gap: 4px;
  }
  .right_icons > a i {
    font-size: 30px;
  }
  /* 메인비주얼 🍅🍅🍅 */
  .genre_wrap {
    display: flex;
  }
  main .main_visual {
    width: 100%;
    height: fit-content;
  }
  .main_visual .con {
    width: 100%;
    height: 800px;
  }
  .main_visual .con > img {
    width: 50vw;
    height: auto;
    left: 14%;
    top: 2%;
  }
  .main_visual .con .genre_wrap {
    width: fit-content;
    gap: 10px;
    top: 15vh;
    transform: scale(0.9);
    right: -2%;
  }
  .scroll_down {
    bottom: 3%;
  }
  /* 무드 섹션 🍅🍅🍅 */
  .sec2 .con {
    display: flex;
    gap: 80px;
    padding: 100px;
  }
  .sec2 .mood_left {
    width: fit-content;
    height: fit-content;
    margin: 0;
  }
  .mood_right {
    width: 40vw;
    height: fit-content;
  }
  .sec2 .con .mood_box {
    width: 100%;
  }
  /* 애니 섹션 🍅🍅🍅 */
  .sec3 .con {
    width: 90%;
  }
  .con .text_title {
    width: 90%;
    font-size: 26px;
  }
  .sec3 .con .text_title h3 {
    width: 20%;
  }
  .sec3 .con .text_title div {
    width: 80%;
  }
  .sec3 .con .anime_bottom {
    width: 95%;
    margin: 120px auto;
  }
  .anime_bottom p {
    font-weight: 200;
    font-size: 20px;
    line-height: 60px;
  }
  .anime_bottom img {
    width: 480px;
    height: auto;
    transition: 0.5s;
  }
  /* 아티스트 섹션 🍅🍅🍅 */
  .sec4 .con .text_title {
    margin: 0 auto;
  }
  .sec4 .con .text_title h3 {
    width: 20%;
  }
  .sec4 .con .text_title div {
    width: 70%;
  }
  .artist_box {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 240px;
  }
  .artist_box > a {
    width: 100%;
  }
  .artist_box > a img {
    width: 300px;
    height: 300px;
  }
  :is(.artist1, .artist3) > img {
    top: -150px;
    left: 10%;
  }
  .artist2 > img {
    top: -150px;
    left: calc(90% - 300px);
  }
  /* 새 앨범 섹션 🍅🍅🍅 */
  :is(.sec5, .sec6, .sec7) {
    margin: 220px auto;
  }
  :is(.sec5, .sec6, .sec7) .con {
    width: 90vw;
    padding: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
  .con_title {
    font-size: 24px;
    padding: 20px 14px;
  }
  .album_img {
    display: block;
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .text_down {
    font-size: 150px;
  }
  /* 인기곡 섹션 🍅🍅🍅 */
  :is(.popular_box:nth-child(9), .popular_box:nth-child(10)) {
    display: block;
  }
  .popular_wrap {
    width: 95%;
    padding: 60px 0 80px 0;
    justify-content: space-evenly;
  }
  .popular_box {
    width: 200px;
    height: 260px;
    border-radius: 8px;
  }
  .popular_con .text_box {
    height: 60px;
    padding: 4px 8px;
  }
  /* 플레이리스트 섹션 🍅🍅🍅 */
  .play_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px 20px 80px 60px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .play_box {
    width: 560px;
    height: 160px;
    margin-left: 0;
  }
  .play_box > a {
    width: 160px;
    height: 160px;
  }
  .play_right {
    width: 400px;
    padding: 20px 28px;
  }
  /* 요금제 섹션 🍅🍅🍅 */
  .sec8 {
    width: 100%;
    height: 700px;
    padding-bottom: 300px;
  }
  .sec8 .con {
    padding: 0;
    width: 100%;
  }
  .fee_box {
    width: 22%;
    padding: 30px 40px;
  }
  .fee_box p:nth-of-type(1) {
    font-size: 18px;
  }
  .fee_box ul li {
    font-size: 16px;
    line-height: 30px;
  }
  .sec8 .con > a {
    font-size: 18px;
    margin-top: 120px;
    height: 50px;
    padding: 0 24px;
  }
}
