@charset "utf-8";
/* 모바일 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  :is(.player, #gnb, input[type="range"], .search_wrap, .genre_wrap) {
    display: none;
  }

  /* 헤더 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  header .con {
    padding: 0 10px;
    box-sizing: border-box;
  }
  header h1 img {
    height: 3vh;
  }
  .right_icons > a:last-child {
    display: flex;
  }
  .right_icons a {
    display: flex;
    align-items: center;
  }
  /* 메인비주얼 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  main .main_visual {
    height: 400px;
  }
  .main_visual .con {
    height: 500px;
  }
  .main_visual .con h2 {
    width: 100vw;
    font-size: 40px;
    margin-left: 5%;
  }
  .main_visual .con h2 span {
    font-size: 40px;
  }
  .main_visual .con > img {
    width: 100vw;
    height: auto;
    right: 0;
    top: -10px;
  }
  .scroll_down {
    transform: scale(0.6);
  }
  /* 앨범 슬라이드 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  #sec1 .con {
    padding: 100px 0;
  }
  #sec1 .con .text_box {
    width: 100%;
    left: 0;
    text-align: center;
  }
  #sec1 .con .text_box h3 {
    line-height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  #sec1 .con .text_box p {
    font-size: clamp(14px, 2vw, 16px);
    line-height: 30px;
  }
  .slide_box .img_box {
    width: fit-content;
    height: fit-content;
  }
  .slide_wrap img {
    width: 100px;
    height: 100px;
  }
  .slide_box {
    margin-bottom: 10px;
  }
  .slide_box .img_row {
    gap: 10px;
    margin-right: 10px;
  }
  /* 무드 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec2 .con {
    display: block;
    padding: 0;
  }
  .sec2 .mood_left {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
  }
  .sec2 .mood_left i {
    font-size: 40px;
  }
  .mood_left .text_wrap h3 {
    font-size: 18px;
  }
  .mood_left .text_wrap p {
    font-size: 16px;
  }
  .mood_right {
    width: 100%;
  }
  .sec2 .con .mood_box {
    width: 90%;
    font-size: 16px;
  }
  .mood_box > div {
    height: 120px;
  }
  .sec2 .con .mood_box > a {
    height: 120px;
  }
  .mood_element {
    width: 120px;
    height: 100%;
    transition: 0.5s;
  }
  .mood_box .mood_title {
    padding: 0 10px;
    gap: 2px;
    height: 80px;
  }
  .mood_box .mood_title h2 {
    width: fit-content;
    font-size: 50px;
    letter-spacing: -8px;
    margin: 0 10px;
  }
  .mood_box .mood_title p {
    font-size: 16px;
  }
  .mood_drive img {
    width: 150px;
  }
  .mood_game img {
    width: 70px;
  }
  .mood_bed img {
    width: 110px;
  }
  .mood_coffee img {
    width: 70px;
  }
  .mood_game .study_text {
    padding: 0;
  }
  .mood_box .mood_coffee a:first-of-type div {
    width: 120px;
    height: 100%;
  }
  .mood_coffee div p {
    line-height: 120px;
    font-size: 16px;
  }
  .mood_box .mood_bed {
    padding: 0;
  }
  /* 애니 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec3 .con {
    width: 95%;
    padding-top: 160px;
  }
  .con .text_title {
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .sec3 .con .text_title h3 {
    font-size: 18px;
    width: 50%;
  }
  .sec3 .con .text_title div {
    width: 50%;
  }
  .sec3 .con .anime_bottom {
    margin: 50px 0;
  }
  .sec3 .con .anime_bottom > div {
    display: block;
    margin-bottom: 30px;
  }
  .anime_bottom p {
    font-size: 14px;
  }
  .anime_bottom :is(.anime1, .anime2, .anime3) p::before {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    margin-right: 10px;
  }
  /* 아티스트 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec4 .con {
    width: 100%;
    padding: 100px 0;
  }
  .sec4 .con .text_title h3 {
    width: fit-content;
  }
  .sec4 .con .text_title div {
    width: 90px;
  }
  .artist_box {
    width: 100%;
    margin-top: 180px;
  }
  .artist_box > a {
    width: 90%;
    height: 140px;
    margin: 0 auto;
  }
  .artist_box > a img {
    width: 180px;
    height: 180px;
  }
  .artist_box h3 {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 6px 20px;
  }
  .artist_box p {
    font-size: 14px;
  }
  .artist_box .text_box {
    padding: 0 20px;
  }
  :is(.artist1, .artist2, .artist3) > img {
    top: -90px;
    left: calc(50% - 90px);
  }
  /* 새 앨범 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  :is(.sec5, .sec6, .sec7) {
    margin: 100px auto;
    padding-bottom: 80px;
  }
  :is(.sec5, .sec6, .sec7) .con {
    width: 90vw;
    height: fit-content;
    margin: 50px auto;
    padding: 4px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
  .album_back {
    display: none;
  }
  .con_title {
    display: flex;
    font-size: 18px;
    padding: 20px 14px;
  }
  .album_con {
    margin-top: 60px;
  }
  .album_img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .album_con > a > i {
    font-size: 30px;
  }
  .album_img i {
    font-size: 40px;
    top: calc(50% - 15px);
  }
  .album_box h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .album_box p {
    font-size: 16px;
  }
  .text_down {
    font-size: 80px;
  }
  /* 인기곡 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec6 .con {
    padding: 4px;
  }
  .popular_wrap {
    width: 95%;
    gap: 10px;
    padding: 40px 0 40px 0;
    justify-content: space-evenly;
  }
  .popular_box {
    width: 120px;
    height: 160px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .popular_con .text_box {
    height: 40px;
    padding: 4px 8px;
  }
  .popular_con .text_box a:first-child {
    font-size: 14px;
    font-weight: 400;
  }
  .popular_con .text_box a:last-child {
    font-size: 12px;
    font-weight: 300;
  }
  .popular_img i {
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  :is(
      .popular_box:nth-child(7),
      .popular_box:nth-child(8),
      .popular_box:nth-child(9),
      .popular_box:nth-child(10)
    ) {
    display: none;
  }
  /* 플레이리스트 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec7 {
    padding-bottom: 40px;
  }
  .play_wrap {
    width: 95%;
    gap: 20px;
    padding: 40px 0;
  }
  .play_box {
    width: 100%;
    height: 80px;
    border-radius: 12px;
    display: flex;
    margin: 0;
  }
  .play_box > a {
    width: 80px;
    height: 80px;
  }
  .play_right {
    width: calc(95% - 80px);
    height: 100%;
    padding: 10px;
  }
  .top_con p {
    font-size: 12px;
    margin: 0;
    font-weight: 500;
  }
  .top_con a {
    font-size: 14px;
  }
  .bottom_con > a {
    font-size: 12px;
  }
  .bottom_con .icons {
    display: none;
  }
  :is(.play_box:nth-child(5), .play_box:nth-child(6)) {
    display: none;
  }
  .play_box > a > i {
    font-size: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    opacity: 0;
    transition: 0.3s;
  }
  /* 요금제 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .sec8 {
    width: 100vw;
    height: fit-content;
    background-size: cover;
    background-position: center;
    padding-bottom: 300px;
    background: url("../img/main/fee_bg.jpg") no-repeat;
    padding-bottom: 200px;
  }
  .sec8 .con {
    padding: 0;
    width: 90%;
  }
  .sec8 h3 {
    margin: 60px 0;
  }
  .fee_wrap {
    display: block;
    padding: 0 20px;
    padding: 0;
  }
  .fee_box {
    border-radius: 16px;
    width: 80%;
    text-align: center;
    padding: 20px 40px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .fee_box:first-child > p:last-of-type {
    display: none;
  }
  .fee_box ul {
    text-align: start;
    list-style: disc;
    margin: 0;
    margin-top: 20px;
  }
  .fee_box ul li {
    line-height: 30px;
  }
  .sec8 .con > a {
    width: fit-content;
    padding: 14px 24px;
    margin-top: 80px;
  }
  /* 푸터 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  footer .con {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    gap: 4px;
  }
  footer .con > a img {
    width: 60px;
    height: auto;
  }
  .footer_menu {
    gap: 10px;
    margin-bottom: 6px;
  }
}
/* 태블릿-sm 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .main_visual .con {
    height: 600px;
  }
  .main_visual .con h2 {
    font-size: 50px;
  }
  .scroll_down {
    bottom: 13vh;
    right: calc(50% - 48px);
  }
  /* 앨범 슬라이드 애니메이션 섹션 🍅🍅🍅 */
  #sec1 .con .text_box h3 br {
    display: block;
  }
  #sec1 .con .text_box h3 span {
    font-size: 36px;
    color: #ff006f;
    font-weight: 800;
  }
  /* 무드 섹션 🍅🍅🍅 */
  .mood_right {
    width: 90%;
    margin: 0 auto;
  }
  .mood_box .mood_title {
    padding-left: 30px;
  }
  /* 애니 섹션 🍅🍅🍅 */
  .con .text_title h3 {
    font-size: 18px;
    width: 35%;
  }
  .con .text_title div {
    width: 65%;
  }
  .anime_bottom p {
    font-size: 16px;
  }
  /* 아티스트 섹션 🍅🍅🍅 */
  .artist_box .text_box {
    padding: 0 30px;
  }
  .artist_box p {
    line-height: 2;
  }
  :is(.artist1, .artist3) > img {
    top: -90px;
    left: 10%;
  }
  .artist2 > img {
    top: -90px;
    left: calc(90% - 180px);
  }
  .sec4 .con .text_title h3 {
    font-size: 18px;
    width: 40%;
  }
  .sec4 .con .text_title div {
    width: 60%;
  }
  /* 새 앨범 섹션 🍅🍅🍅 */
  .con_title {
    padding: 24px 20px;
  }
  .album_img {
    display: block;
    width: 280px;
    height: 280px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .album_con > a > i {
    font-size: 40px;
  }
  .album_img i {
    font-size: 50px;
    top: calc(50% - 25px);
  }
  .text_down {
    font-size: 90px;
  }
  /* 플레이리스트 섹션 🍅🍅🍅🍅🍅🍅🍅🍅🍅 */
  .play_wrap {
    width: 80%;
    gap: 26px;
    padding: 40px 0;
    margin: 0 auto;
  }
  .play_box {
    height: 90px;
    border-radius: 12px;
    display: flex;
    margin: 0;
  }
  .play_box > a {
    width: 90px;
    height: 90px;
  }
  .bottom_con .icons {
    display: flex;
    gap: 6px;
  }
  .icons i {
    font-size: 22px;
  }
  .icons p {
    display: none;
  }
  .play_right {
    padding-left: 14px;
  }
  .sec8,
  footer {
    display: none;
  }
}
