@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
@import url("../css/reset.css");
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #000;
  width: 100%;
  color: #fff;
  font-weight: 300;
  box-sizing: border-box;
}
:is(.container, main, section) {
  width: 100%;
}
section .con {
  width: 90%;
  margin: 180px auto;
}
/* 공지사항 */
.con .sub4_title {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
}
.sec1 .official_box {
  width: 70%;
  margin: 0 auto;
}
.official_box .more {
  width: 100%;
  margin-bottom: 10px;
}
.official_box .more a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  font-size: 18px;
}
.official_box .official_wrap {
  width: 100%;
}
.official_wrap .official {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 24px 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--opacity20-color);
}
.official_wrap .official:last-child {
  border: none;
}
.official_wrap .official a {
  font-weight: 400;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.official_wrap .official p {
  font-size: 18px;
  color: var(--sub-text-color);
  text-align: end;
}
/* 자주 묻는 질문 */
.sec2 .question_wrap {
  width: 70%;
  margin: 0 auto;
}
.sec2 .question_wrap .question_box {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 6px 20px;
  box-sizing: border-box;
  transition: 0.3s;
  margin-bottom: 20px;
}
.question_wrap .question_box p {
  width: fit-content;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  cursor: pointer;
}
.question_wrap .question_box img {
  width: 50px;
  opacity: 0;
  transition: 0.3s;
}
.question_wrap .question_box:hover img {
  opacity: 1;
  animation: imgMove 0.5s ease 0s 1 alternate forwards;
}
@keyframes imgMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(14px);
  }
}
/* 문의하기 */
.sec3 .QA_con {
  width: 100%;
  display: flex;
}
.QA_con .QA_left {
  width: 40%;
}
.QA_con .QA_left p {
  font-size: 18px;
  line-height: 1.8;
  padding: 50px;
  box-sizing: border-box;
}
.QA_con .QA_right {
  width: 60%;
}
.QA_right .QA_box {
  width: 60%;
  position: relative;
}
.QA_con .QA_right textarea {
  width: 100%;
  height: 300px;
  background-color: var(--opacity10-color);
  border: 1px solid var(--opacity10-color);
  border-radius: 10px;
  padding: 18px;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  resize: none;
}
.QA_con .QA_right button {
  width: fit-content;
  background-color: var(--opacity20-color);
  border: 1px solid var(--opacity20-color);
  padding: 6px 20px;
  box-sizing: border-box;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  transition: 0.3s;
}
.QA_con .QA_right button:hover {
  background-color: var(--main-color);
  font-weight: 500;
}
