@charset "utf-8";
/* 모바일-sm 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 320px) and (max-width: 480px) {
  :is(.player, #gnb, input[type="range"], .search_wrap) {
    display: none;
  }
  /* 헤더 🍅🍅🍅🍅 */
  header .con {
    width: 95%;
    height: 36px;
    padding: 0 14px;
    box-sizing: border-box;
    top: 14px;
  }
  header h1 img {
    width: 46px;
  }
  .con > .right_icons {
    gap: 14px;
  }
  .right_icons > a:last-child {
    display: block;
  }
  .right_icons a {
    display: flex;
    align-items: center;
  }
  .right_icons a img {
    width: 18px;
  }
  .hamburger_menu .ham_con {
    width: 80%;
  }
  .hamburger_menu .ham_con > a {
    width: 12%;
  }
  .hamburger_menu .ham_search {
    width: 100%;
    gap: 4px;
  }
  .ham_search input[type="search"] {
    width: 70%;
    font-size: 14px;
    margin: 20px 0 0 0;
    line-height: 2;
  }
  .ham_search button {
    width: 40px;
  }
  .hamburger_menu ul {
    font-size: 18px;
  }
  .hamburger_menu ul li {
    font-size: 14px;
  }
  /* 푸터 🍅🍅🍅🍅 */
  footer .con {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    gap: 4px;
  }
  footer .con > a img {
    width: 60px;
    height: auto;
  }
  .footer_menu {
    gap: 10px;
    margin-bottom: 6px;
  }
  footer .con .text_wrap {
    font-size: 10px;
  }
}
/* 모바일-lg 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* 헤더 🍅🍅🍅 */
  :is(.player, #gnb, input[type="range"], .search_wrap) {
    display: none;
  }
  header .con {
    width: 95%;
    height: 36px;
    padding: 0 4%;
  }
  header h1 img {
    width: 48px;
  }
  .right_icons a img {
    width: 20px;
  }
  .right_icons > a:last-child {
    display: block;
  }
  .hamburger_menu .ham_con {
    width: 70%;
  }
  .hamburger_menu .ham_con > a {
    width: 12%;
  }
  .ham_search input[type="search"] {
    width: 75%;
    font-size: 14px;
    margin: 20px 0;
    line-height: 2;
  }
  .ham_search button {
    width: 44px;
  }
  .hamburger_menu ul {
    font-size: 20px;
  }
  .hamburger_menu ul li {
    font-size: 16px;
  }
  /* 푸터 🍅🍅🍅 */
  footer .con {
    height: 80px;
  }
  footer .con > a img {
    width: 90px;
    height: auto;
  }
  footer .con .text_wrap {
    font-size: 12px;
    color: var(--sub-text-color);
  }
}
/* 태블릿-sm 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* 헤더 🍅🍅🍅 */
  :is(.player, #gnb, input[type="range"]) {
    display: none;
  }
  .right_icons .search_wrap {
    display: flex;
  }
  header h1 img {
    width: 48px;
  }
  header .con {
    width: 95vw;
    height: 38px;
  }
  .right_icons > a:last-child {
    display: block;
  }
  .right_icons a img {
    width: 18px;
  }
  .right_icons .search_wrap img {
    width: 16px;
  }
  .hamburger_menu .ham_search {
    display: none;
  }
  /* 푸터 🍅🍅🍅 */
  footer .con {
    height: 80px;
  }
  footer .con > a img {
    width: 90px;
    height: auto;
  }
  footer .con .text_wrap {
    font-size: 12px;
    color: var(--sub-text-color);
  }
}
/* 태블릿-lg 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 헤더 🍅🍅🍅 */
  :is(.player, #gnb, input[type="range"], .search_wrap) {
    display: none;
  }
  .right_icons > a:last-child {
    display: none;
  }
  header .con {
    height: 40px;
  }
  #gnb {
    width: 50%;
    display: block;
  }
  #gnb .menu > a {
    font-size: 16px;
  }
  .submenu a {
    font-size: 14px;
  }
  .search_wrap {
    display: flex;
  }
  header h1 {
    width: 55px;
  }
  input[type="search"] {
    width: 120px;
  }
  .right_icons .search_wrap p {
    font-size: 20px;
  }
  .right_icons a img {
    width: 20px;
  }
  .con .hamburger_menu {
    display: none;
  }
  /* 푸터 🍅🍅🍅*/
  footer .con {
    height: 80px;
  }
  footer .con > a img {
    width: 90px;
    height: auto;
  }
  footer .con .text_wrap {
    font-size: 14px;
  }
}
/* 노트북 🥦🥦🥦🥦🥦🥦🥦🥦🥦 */
@media screen and (min-width: 1441px) and (max-width: 1700px) {
  /* 헤더 🍅🍅🍅*/
  .player {
    display: flex;
  }
  header .con {
    width: 95vw;
  }
  .con .player {
    width: fit-content;
  }
  input[type="search"] {
    width: 120px;
  }
  #gnb > ul {
    gap: 4px;
  }
  .right_icons > a i {
    font-size: 30px;
  }
}
